<section class="references-section">
  <div class="container-fluid g-0 text-center" style="position:relative;">
    <img class="text-center bandeau-top" src="./../../assets/bandeau-haut-nos-references-synfolia.jpg">
    <h2>NOS RÉFÉRENCES</h2>
    <a href="#" class="btn btn-catalogue-actu shadow-none">
      NOTRE CATALOGUE
      <br><span>VENTE AUX PROFESSIONNELS UNIQUEMENT</span>
    </a>
  </div>
</section>
<div class="navigation-page">
  <div class="ariane">
    <span>Synfolia
      <span class="pages">| Nos références</span>
    </span>
  </div>
</div>

<div class="container-bandeau">
  <img src="./../../assets/feuille-2.png">
  <div class="bandeau">
    <span class="bandeau-titre">Aménagements urbains</span><br>
    <span class="bandeau-sous-titre">- Synfolia -</span>
  </div>
</div>

<section class="nos-references-section">
  <div class="nos-references-container">
    <div class="nos-refrences">
      <div class="nos-references-full-img">
        <a>
          <img class="references-img" src="./../../assets/BANDEAU PEPIS DU BAS - PEPI PLATEAU VERSAILLES.jpg">
          <div class="overlay-references" (click)="openModal(0)">
            <div class="overlay">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="nos-references-half-img">
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/BANDEAU PEPIS DU BAS - PLANT SERVICES.jpeg">
            <div class="overlay-references" (click)="openModal(1)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/20210809_143512.jpg">
            <div class="overlay-references" (click)="openModal(2)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-bandeau">
  <img src="./../../assets/feuille-2.png">
  <div class="bandeau">
    <span class="bandeau-titre">Aménagements péri-urbains</span><br>
    <span class="bandeau-sous-titre">- Synfolia -</span>
  </div>
</div>
<section class="nos-references-section">
  <div class="nos-references-container">
    <div class="nos-refrences">
      <div class="nos-references-full-img">
        <a>
          <img class="references-img" src="./../../assets/productions-img3.png">
          <div class="overlay-references" (click)="openModal(3)">
            <div class="overlay">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="nos-references-half-img">
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/serre-jsv2.jpg">
            <div class="overlay-references" (click)="openModal(4)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/productions-img1.png">
            <div class="overlay-references" (click)="openModal(5)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-bandeau">
  <img src="./../../assets/feuille-2.png">
  <div class="bandeau">
    <span class="bandeau-titre">Aménagements particulier</span><br>
    <span class="bandeau-sous-titre">- Synfolia -</span>
  </div>
</div>
<section class="nos-references-section">
  <div class="nos-references-container">
    <div class="nos-refrences">
      <div class="nos-references-full-img">
        <a>
          <img class="references-img" src="./../../assets/productions-img2.png">
          <div class="overlay-references" (click)="openModal(6)">
            <div class="overlay">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="nos-references-half-img">
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/productions-2.jpg">
            <div class="overlay-references" (click)="openModal(7)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/plantes-grimpantes.png">
            <div class="overlay-references" (click)="openModal(8)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-bandeau">
  <img src="./../../assets/feuille-2.png">
  <div class="bandeau">
    <span class="bandeau-titre">Expositions</span><br>
    <span class="bandeau-sous-titre">- Synfolia -</span>
  </div>
</div>
<section class="nos-references-section">
  <div class="nos-references-container">
    <div class="nos-refrences">
      <div class="nos-references-full-img">
        <a>
          <img class="references-img" src="./../../assets/productions-img2.png">
          <div class="overlay-references" (click)="openModal(9)">
            <div class="overlay">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="nos-references-half-img">
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/productions-2.jpg">
            <div class="overlay-references" (click)="openModal(10)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="half-img">
          <a>
            <img class="references-img" src="./../../assets/plantes-grimpantes.png">
            <div class="overlay-references" (click)="openModal(11)">
              <div class="overlay">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-bandeau-pepinieres id="app-bandeau-pepinieres"></app-bandeau-pepinieres>
