<section class="actualite-section">
  <div class="container-fluid g-0 text-center" style="position:relative;">
    <img class="text-center bandeau-top" src="./../../assets/bandeau-actualite-synfolia.jpg">
    <h2>ACTUALITÉS</h2>
    <button class="btn btn-catalogue-actu shadow-none">
      NOTRE CATALOGUE
      <br><span>VENTE AUX PROFESSIONNELS UNIQUEMENT</span>
    </button>
  </div>

  <div class="navigation-page">
    <div class="ariane">
    <span>Synfolia
      <span class="pages">| Actualités</span>
    </span>
    </div>
  </div>

  <div class="container mt-5">
    <h3>Pour ne manquer aucunes de nos actualités suivez-nous sur nos réseaux sociaux !</h3>
    <div class="d-flex justify-content-center icones-reseaux">
      <div style="margin-left: 0px;">
        <i class="fab fa-instagram p-3"></i>
      </div>
      <div>
        <i class="fab fa-linkedin p-3"></i>
      </div>
      <div>
        <i class="fab fa-youtube p-3" style="margin-left: 0;"></i>
      </div>
    </div>
  </div>
</section>

<section class="actualites-articles-section">
  <div class="actualites-container">
    <div class="actualite-left">
      <a id="click-references-1">
        <div class="actualites-card overlay">
          <img id="actu-1" class="card-image" src="./../../assets/Actualites/ACTU1/1.jpeg" (click)="openModal(0)">
          <div class="card-actu-body overlay-references">
            <span class="card-date"> <span class="new-actu">NOUVEAU !</span></span>
            <h5 class="card-title-actu">Travaux d’aménagement chez Jardin Services Végétaux !  </h5>
            <p class="card-contenu">
              Poussés par notre inlassable quête d’amélioration, nos pépinières sont en perpétuel développement afin de toujours mieux répondre à 
              vos besoins. Focus sur les travaux d’agrandissement entamés du côté de la Manche (50), chez Jardin Services Végétaux.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="actualite-right">
      <div class="actualites-right-2 right-1">
        <a>
          <div class="actualites-card">
            <img id="actu-2" class="card-image" src="./../../assets/WhatsApp Image 2022-04-05 at 08.23.10 (2).jpeg" (click)="openModal(1)">
            <div class="card-actu-body">
              <span class="card-date">14/02/2022<span class="new-actu">NOUVEAU !</span></span>
              <h5 class="card-title-actu ">La saison des rempotages touche bientôt à sa fin !</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="actualites-right-2 right-2">
        <a>
          <div class="actualites-card">
            <img id="actu-3" class="card-image" src="./../../assets/WhatsApp Image 2022-04-05 at 16.57.43 (2).jpeg" (click)="openModal(2)">
            <div class="card-actu-body">
              <span class="card-date">04/08/2022<span class="new-actu">NOUVEAU !</span></span>
              <h5 class="card-title-actu last-title">Baliveaux : plantation de 35 000 jeunes plants chez Végétal Services </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="actualites-articles-section">
  <div class="actualites-container">
    <div class="actualite-left">
      <a>
        <div class="actualites-card">
          <img id="actu-4" class="card-image" src="./../../assets/WhatsApp%20Image%202022-03-08%20at%2016.38.04.jpeg" (click)="openModal(3)">
          <div class="card-actu-body">
            <span class="card-date">12/04/2022 <span class="new-actu">NOUVEAU !</span></span>
            <h5 class="card-title-actu ">Pépinière transitoire Paris-Saclay : des valeurs fortes partagées</h5>
            <p class="card-contenu">
              Dans le cadre du développement du campus urbain de Paris Saclay, l’EPA Paris-Saclay, conjointement avec la
              ville d’Orsay et la Communauté d’agglomération Paris-Saclay, a décidé de créer une pépinière paysagère
              transitoire proche du campus d’AgroPariTech.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="actualite-right">
      <div class="actualites-right-2 right-1">
        <a>
          <div class="actualites-card">
            <img id="actu-5" class="card-image" src="./../../assets/WhatsApp Image 2021-08-05 at 10.15.10.jpeg" (click)="openModal(3)">
            <div class="card-actu-body">
              <span class="card-date">14/02/2022<span class="new-actu">NOUVEAU !</span></span>
              <h5 class="card-title-actu ">Actualite 5 </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="actualites-right-2 right-2">
        <a>
          <div class="actualites-card">
            <img id="actu-6" class="card-image" src="./../../assets/plantations-1.jpg" (click)="openModal(3)">
            <div class="card-actu-body">
              <span class="card-date">04/08/2022</span>
              <h5 class="card-title-actu last-title">Actualite 6
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="actualites-articles-section">
  <div class="actualites-container ">
    <div class="actualite-right right-3">
      <div class="actualites-right-2 right-1">
        <a>
          <div class="actualites-card">
            <img id="actu-7" class="card-image" src="./../../assets/plantations-1.jpg" (click)="openModal(3)">
            <div class="card-actu-body">
              <span class="card-date">14/02/2022</span>
              <h5 class="card-title-actu ">Plantation d'arbustes à Pépinière des Hauts Castets</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="actualites-right-2">
        <a>
          <div class="actualites-card">
            <img id="actu-8" class="card-image" src="./../../assets/plantations-1.jpg" (click)="openModal(3)">
            <div class="card-actu-body">
              <span class="card-date">04/08/2022</span>
              <h5 class="card-title-actu last-title">Plantation d'arbustes en pleine terre à Jardin Services
                Végétaux</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="actualite-left">
      <a>
        <div class="actualites-card">
          <img id="actu-9" class="card-image" src="./../../assets/plantations-1.jpg" (click)="openModal(3)">
          <div class="card-actu-body">
            <span class="card-date">12/03/2022</span>
            <h5 class="card-title-actu">Plantation d'arbustes en pleine terre à Jardin Services Végétaux</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<app-bandeau-pepinieres id="app-bandeau-pepinieres"></app-bandeau-pepinieres>
